#pytest cache
.pytest_cache/

__pycache__

#environments
dzvenv/
venv/

#logs
geckodriver.log

#etc
.idea/
.DS_Store


password
password/*.*
password/*/*.*
*/password
*/password/*.*password

#screenshots
screenshots/*.*

#logs
logs/
tests/logs/

#allure
allure-report/